@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700,800);
/* ======================================================== */

/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

body {
    font-family: Montserrat;
    font-size: 12px;
    color: #616161;
    ;
}
/*--------------------*/
.wrapper {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
/* ======================================================== */

[class*="__container"]{
	max-width: 1082px;
	margin: 0 auto;
	padding: 0 15px;
}

.main {
	flex: 1 1 auto;
}

.header {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
}
.header__container {
	display: flex;
	gap: 132px;
	align-items: center;
	min-height: 104px;
}
.header__logo {
	font-weight: 700;
	font-size: 24px;
	line-height: 32px;
	letter-spacing: 0.1px;
	color: #252B42;
}
.header__menu {
}
.menu {
}
.menu__list {
	display: flex;
	gap: 21px;
}
.menu__item {
}
.menu__link {
	font-weight: 600;
	font-size: 14px;
	line-height: 24px;
	text-align: center;
	letter-spacing: 0.2px;
	color: #737373;
}

/* ======================================================== */

.intro {

}
.intro__container {
	padding: 184px 15px 80px 15px;
}
.intro__content {
	max-width: 509px;
}
.intro__title {
	font-weight: 800;
	font-size: 58px;
	line-height: 1.4;
	letter-spacing: 0.2px;
	color: #252B42;
}
.intro__text {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.5;
	letter-spacing: 0.2px;
	color: #737373;
	margin: 35px 0px;
}

.intro__text:last-child {
	margin-bottom: 0;
}

.intro__actions {
	display: flex;
	gap: 10px;
}
.intro__button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 187px;
	height: 48px;
	background-color: #FF7B47;
	border-radius: 37px;
	font-weight: 700;
	font-size: 14px;
	line-height: 2;
	letter-spacing: 0.2px;
	color: #FFFFFF;
	transition: all 0.5s ease-out;
}
.intro__button_transparent {
	color: #0D5C63;
	background-color: transparent;
	border: 1px solid #0D5C63;
	width: 157px;
}

.intro__button:hover {
	background-color: #84371a;
}

.intro__button_transparent:hover {
	background-color: rgb(225, 227, 226);
}

/* ================================================================ */

.intro__services {
	margin-top: 80px;
}
.services {
	display: flex;
	justify-content: space-between;
}
.services__item {
	display: flex;
	flex-direction: column;
	gap: 10px;
	max-width: 328px;
	max-height: 242px;
	padding: 35px 40px;
	background-color: #FFFFFF;
	box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
	transition: all 0.3s ease-out;
}
.services__item_green {
	background-color: #0D5C63;
	color: #FFFFFF;
}
.services__image {
	height: 48px;
}
.services__title {
	font-weight: 700;
	font-size: 24px;
	line-height: 1.3;
	letter-spacing: 0.1px;
	color: #252B42;
}
.services__text {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.43;
	letter-spacing: 0.2px;
	color: #737373;
}

.services__item:hover {
	transform: translate(3%, 3%);
}

.text-white {
	color: #FFFFFF;
}